.form {
  border-radius: 4px;
  padding: 2rem;
}

.submit {
  margin-top: 1rem;
  text-align: right;
}

.error,
.errorMessage {
  color: #d32f2f;
}

.error {
  display: block;
  margin-bottom: 1rem;
}
